<div class="container text-center">
    <div class="row">
        <div class="col-md-12 headerSection text-center">
            <span>Login</span>
        </div>
    </div>
    <div class="row mt-20">
        <form action="">
            <div class="col-md-12 col-md-offset-4">
                <div class="row mt-20">
                    <div class="col-md-4">
                        <input class="form-control" type="email" ng-model="customer.email" placeholder="Email*" required>
                    </div>
                </div>
                <div class="row mt-20">
                    <div class="col-md-4">
                        <input class="form-control" type="password" ng-model="customer.password" placeholder="Password*" required>
                    </div>
                </div>
                <div class="row mt-20">
                    <div class="col-md-4">
                        <button class="btn btn-success" ng-click="login();">Login</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>